<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Portail ESAG-NDE Nouveau compte</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/signupres/css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/signupres/css/style.css"/>
	<link rel="stylesheet" href="static/loginres/css/bootstrap.min.css">
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="static/signupres/images/img.jpg">
			</div>
			<form class="form-detail" action="/nouveau_compte" method="post">
				<h3>Nouveau compte</h3>
				<div class="form-row">
					<input type="text" id="Nom" name="Nom" class="input-text" placeholder="Votre nom" required>
				</div>
				<div class="form-row">
					<input type="text" id="Prenom" name="Prenom" class="input-text" placeholder="Votre prénom" required>
				</div>
				<div class="form-row">
					<input type="text"  id="Email" name="Email" class="input-text" placeholder="Votre mail" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="password" name="password" id="password"  class="input-text" placeholder="Votre mot de passe" required>
				</div>
				<div class="form-row">
					<input type="password" name="Mdp" id="Mdp" class="input-text" placeholder="Comfirmez mot de passe" required>
				</div>
				<div class="form-row">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
					   {% for message in messages %}
						<div class="alert alert-danger" role="alert">
							<strong>{{message}}</strong>
						</div>
					{% endfor %}	
					{% endif %}
				{% endwith %}
				</div>
				<div class="form-row-last">
					<button class="btn btn-info" type="submit">Valider</button>
					<a href="{{url_for('connexion')}}"><button type="button" class="btn btn-primary">Connexion</button></a>
				</div>
			</form>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>